.conteneur{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 70%;
    background: #ffb262;
    font-size: 3rem;
    grid-template-columns: 6fr 6fr 9fr;
    overflow: hidden;
}
#nice{
    display: grid;
    background-color: rgba(78, 83, 83, 0.603);
    width: 25vw;
    border-radius: 5px;
    font-size: 0.8em;
    height: 55vh;  
    justify-items: center;
    align-items: center;
    
}
input{
    display: grid;
    width: 70%;
    height: 3vh;
    border-radius: 15px;
}
label{
    font-size: 1rem;
}

