body{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:3fr 5fr 3fr;
    background-color: antiquewhite;
    overflow: hidden;
}
.fmlre{
    display: grid;
    background-color: rgba(78, 83, 83, 0.603);
    width: 100%;
    border-radius: 5px;
    font-size: 10px;
    height: 100%;  
    justify-items: center;
    align-items: center;
    margin-top: 5rem;
}
input{
    display: grid;
    width: 90%;
    border-radius: 10px;
   
}
h6{
    display: grid;
    background-color:#f8d18e ;
    border-radius: 5px;
    height: 20vh;
    width: 80%;
    justify-items: center;
    align-items: center;
}