body{
    background-color: rgba(78, 83, 83, 0.603);
    justify-content: center;
    display: grid;

}
.css{
    display: grid;
    width: 80vw;
    height: 70vh;
    background-color: antiquewhite;
    justify-items: center;
    font-size: 2rem;
    border: 3rem solid blue;
    grid-template-columns: 3fr 2fr 4fr;

}
.resultat{
    background-color: black;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 3rem;
}
.sujet{
    background-color: black;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 3rem;
    
}
.impliq{
    display: grid;
    background-color: black;
    color: white;
    align-items: center;
    margin: 3rem;
}