body{
    background-color: antiquewhite;
    justify-items: center;
    align-content: center;
    display: grid;

}
.css{
    display: grid;
    background-color: rgba(78, 83, 83, 0.603);
    width: 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
input{
    display: grid;
    width: 90%;
    height: 4vh;
    border-radius: 20px;
}
.nmbre{
    display: grid;
    background-color: #fbd08b;
    justify-items: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 3rem;
}
.lesBoutons{
    display: flex;
}
button{
    margin: auto 1vw;
}